* {box-sizing: border-box;}

body {
    margin: 0;
    overflow: hidden;
}

.img-comp-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.img-comp-overlay {
    position: absolute;
    overflow: hidden;
    height: 100vh;
}

.img-comp-img {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}